body {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #061F38;
}

.page {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    height: 300px;
    padding-left: 100px;

}

.menu {
    line-height: 5em;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: auto;
}

img.rounded-circle {
    object-fit: cover;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

[aria-current="page"] {
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menu a {
    box-shadow: inset 0 0 0 0 black;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 12px;
}

.menu a:hover {
    box-shadow: inset 100px 0 0 0 black;
    text-decoration: none;
    color: white !important;
    border-radius: 12px;

}

.menu .active {
    background: black;
    border-radius: 12px;
    color: #fff !important;
    font-size: large;
}

.imgUNcover {
    width: 100%;
    height: 250px;
    object-position: 50% top;
    object-fit: cover;
}

/* <- about -> */

.hero {
    width: 100%;
    height: 280px;
    background-color: #f1f8fa;
    border-radius: 18px;
    padding: 50px;
}

.ti-5 {
    text-indent: 50px
}

.lh {
    line-height: 2;
}

.skill {
    background-color: #ffffff;
    width: 100%;
    height: 360px;
    border-radius: 18px;
}

.skill .main{
    margin-top: 150px;
}
.skill .contant {
    margin-top: 80px;
}


.education {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}

.education .main {
    margin-top: 160px;
}

.experience-work{
    margin: 50px;
    width: 100%;
    height: 300px;
}

.experience-work .box{
    width: 500px;
}

.experience-work .h1 {
    margin-left: 340px;
}

.experience-work .box a{
    float: right;
}

footer a {
    box-shadow: inset 0 0 0 0 #f1f8fa;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

footer a:hover {
    box-shadow: inset 100px 0 0 0 #f1f8fa;
    text-decoration: none;
    color: white;

}

/* <- contact -> */

.contact {
    letter-spacing: 2px;
}

/* <- feedback -> */

.feedback {
    width: 100%;
    height: 490px;  
    letter-spacing: 1px;
}

.ls-1 {
    letter-spacing: 1px;
}


.ls-3 {
    letter-spacing: 3px;
}

/* <-project-> */

.project .font-a{
    color :rgba(0, 0, 0, 0.671);
}

.project a:hover{
    box-shadow: inset 100px 0 0 0 #f1f8fa;
    text-decoration: none;
    color: #000000;
}

.project .nav  .active{
    background: #f1f8fa;
    border-radius: 8px;
    color: #000000;
}

.project  a{
    font-size: 14px;
}

.project .modal-footer a{
    box-shadow: inset 100px 0 0 0 #ffffff;
    text-decoration: none;
    color: #000000;
    border-color: #000000;
}

.project .modal-footer a:hover{
    box-shadow: inset 100px 0 0 0 #000000;
    text-decoration: none;
    color: #ffffff;
}

.fs-14{
    font-size: 14px;
}

.fs-12{
    font-size: 12px;
}

.fs-10{
    font-size: 10px;
}
    
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }