{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="hero">
            <div class="h1 pb-3 ls-1">👋 Hi, I'm Aoy.</div>
            <div class="p fs-18 ti-5 m-2 pl-5 lh text-muted">
                I'm a web developer from Thailand, TH. I am looking to take on more work and to increase my skills as a Web Developer.
                My preferred tools are Django.
            </div>
        </div>
        <hr/>
        <div class="skill">
            <div class="row">
                <div class="col-lg-4 main">
                    <div class="h1 text-center ls-1 ">Skill</div>
                </div>
                <div class="col-lg-8 contant">
                    <div class="row pb-5">
                        <div class="col-lg-6 col-md-6 contant-text">
                            <div class="h4 ">Framework</div>
                            <div class="p text-muted">Django, Reactjs, React-native</div>
                        </div>
                        <div class="col-lg-6  col-md-6 contant-text">
                            <div class="h4">UX/UI design</div>
                            <div class="p fs-14 text-muted">Photoshop, Figma, Illustrator, Adobe-XD</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6  col-md-6 contant-text">
                            <div class="h4">Programing Languages</div>
                            <div class="p  fs-14 text-muted">HTML, CSS, SCSS, SASS, Bootstrap, Javascript, Python, PHP, Node.js</div>
                        </div>
                        <div class="col-lg-6  col-md-6 contant-text">
                            <div class="h4">Database</div>
                            <div class="p  fs-14 text-muted">PostgreSQL, MySQL, Firebase</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="education">
            <div class="row ">
                <div class="col-lg-4 main">
                    <div class="h1 text-center ls-1">Education</div>
                </div>
                <div class="col-lg-8">
                    <div class="row m-5">
                        <div class="col-lg-12 pb-3">
                            <div class="h5">Patongwittaya School</div>
                            <div class="text-muted fs-16">at Chanthaburi</div>
                            <p class="text-muted fs-16">kindergarten 1 - elementary education 6</p>
                        </div>
                        <div class="col-lg-12 pb-3">
                            <div class="h5">Matthayomwatmaikrongtong School</div>
                            <div class="text-muted fs-16">at Prachinburi</div>
                            <p class="text-muted fs-16">secondary education 1 - secondary education 6</p>
                        </div>
                        <div class="col-lg-12">
                            <div class="h5">Eastern Asia University</div>
                            <div class="text-muted fs-16">Graduate in 2020</div>
                            <p class="text-muted fs-16">GPAX: 3.32</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="experience-work">
            <div class="h1 pb-5 ls-1">Experience Work</div>
            <div class="box">
                <div class="h4 pb-2">Web Developer</div>
                <div class="h6 pb-1 ">TMES Co., Ltd. (Apprentice 4 Month)</div>
                <ul class="text-muted">
                    <li>
                        Develop Websites with Django framework &nbsp; &nbsp;
                    </li>
                </ul>
                <a href="https://drive.google.com/file/d/1sD65p6NxzhnmZCv91KlDDHi0k6OLCjZU/view?usp=sharing"> Read Document. </a>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
