{% extends 'base.html' %}
{% load static %}
{% block title %}
    Feedback
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="feedback">
            <div class="row">
                <div class="col-lg-4">
                    <div class="h1 pb-4 ls-3">Feedback</div>
                    <p>Take a look at the reviews of my customers and ensure the quality of my services.</p>
                </div>
                <div class="col-lg-8">
                    {% for fb in contact %}{{ fb.name }}{% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
