{% extends 'base.html' %}
{% load static %}
{% block title %}
    Feedback
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="feedback">
            <div class="row">
                <div class="col-lg-4">
                    <div class="h1 pb-4 ls-3">Feedback</div>
                </div>
                <div class="col-lg-8    ">
                    {% for fb in feedback %}
                        <div class="border-bottom border-top pt-4 pb-4">
                            <span class="h5">{{ fb.name }} &nbsp;&nbsp;&nbsp;</span><span class="h6">@{{ fb.from_where }}</span>
                            <div class="h6 pt-2">{{ fb.project_comment }} :: "{{ fb.massage }}"</div>
                        </div>
                        {{fb.create}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
