<div class="container">
    <footer class="text-center text-white bg-transparent border-top rounded"
            style="background-color: #f1f1f1;">
        <div class="container pt-4">
            <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="https://web.facebook.com/amrbp.am/"
               role="button"
               data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i
        ></a>
    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
       href="https://twitter.com/sp8wN800uAkErEE"
       role="button"
       data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i
></a>
<a class="btn btn-link btn-floating btn-lg text-dark m-1"
   href="mailto:amrbp.bunproy@gmail.com"
   role="button"
   data-mdb-ripple-color="dark"><i class="fab fa-google"></i
></a>
<a class="btn btn-link btn-floating btn-lg text-dark m-1"
   href="https://www.instagram.com/im.amrbp/"
   role="button"
   data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i
></a>
<a class="btn btn-link btn-floating btn-lg text-dark m-1"
   href="#!"
   role="button"
   data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i
></a>
<a class="btn btn-link btn-floating btn-lg text-dark m-1"
   href="https://github.com/amrbp"
   role="button"
   data-mdb-ripple-color="dark"><i class="fab fa-github"></i
></a>
</section>
</div>
<div class="text-center text-dark p-3 border-top rounded">
    © 2022 Copyright:
    <a class="text-dark ls-1" href="www.amrbp.website">amrbp.website</a>
</div>
</footer>
</div>
