{% load static %}
{% url 'about' as about %}
{% url 'project' as project %}
{% url 'feedback' as feedback %}
{% url 'contact' as contact %}
<header>
    <div class="container">
        <div class="menu">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="image-cropper">
                        <img src="{% static 'img/line_465231369708196.jpg' %}"  class="rounded-sm circle rounded-circle">
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 mt-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="h2 font-weight-bold ls-3">amrbp</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="nav">
                                <div class="col-lg-1 col-md-2 col-sm-2 col-2 text-uppercase mr-3 ls-1">
                                    <a class="font-weight-normal {% if request.path == about %}active{% endif %}  text-muted"
                                       href="{% url 'about' %}"
                                       aria-current="page">About</a>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-2 text-uppercase mr-4 ls-1">
                                    <a class="{% if  request.path == project %}active{% endif %} text-muted "
                                       href="{% url 'project' %}"
                                       aria-current="page">Project</a>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-2 text-uppercase mr-5 ls-1">
                                    <a class="{% if request.path == feedback %}active{% endif %} text-muted "
                                       href="{% url 'feedback' %}"
                                       aria-current="page">Feedback</a>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-2 text-uppercase ls-1">
                                    <a class="{% if request.path == contact %}active{% endif %} text-muted  "
                                       href="{% url 'contact' %}"
                                       aria-current="page">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
